
#titulo {
    /* 50 arriba, 5 der 10 abajo, 20 izq */
    padding: 50px 5px 10px 20px;
    /* 50 arriba, 10 der e izq, 20 abajo */
    padding: 50px 10px 20px;
    /* 50 arriba-abajo, 20 izq-der */
    padding: 50px 20px;
    /* 50 cuatro lados */
    padding: 50px;
    border: 10px dotted red;
    margin: 30px;

    border-top: 10px dashed red;
    border-bottom: 20px groove gold;
    border-right: 50px dotted blue;
    border-left: 40px inset purple;
}

#titulo {
    display: inline;
}
#parrafo {
    background-color: blue;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#art1 {
    background-color: green;
    border: 5px groove black;
    width: 150px;
    height: 150px;
    display: inline-block;
}
#art2 {
    background-color: white;
    border: 5px groove black;
    width: 150px;
    height: 150px;
    display: inline-block;
}
#art3 {
    background-color: red;
    border: 5px groove black;
    width: 150px;
    height: 150px;
    display: inline-block;
}