.u-em {
    font-size: 5em;
    border: 1rem solid red;
}

.u-viewport {
    background-color: #cd104d;
    width: 90vw;
    height: 100vh;
}

/*body {
    width: 400px;
}*/

.u-porcentaje {
    background-color: #a8a5a2;
    background-color: rgb(80,80,80);
    width: 100%;
    height: 200px;
}

.overflow {
    background-color: #9c2c77;
    width: 200px;
    height: 100px;
    overflow: auto;
}

.info img {
    border-radius: 50%;
    width: 100px;
    float: left;
    margin-right: 2em;
}

.clearfix::after {
   clear: both;
   content: "";
   display: table;
}

#nav-main ul li {
    background-color: #fd841f;
    list-style: none;
}

#nav-main ul li {
    float: left;
    width: 20%;
}

#nav-main ul li a {
    text-decoration: none;

}

#nav-flex ul {
    margin: 0;
    padding: 0;
}

#nav-flex .contenedor {
    background-color: gray;
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;

    flex-flow: column wrap;

    justify-content: flex-end;
    height: 400px;

}