img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
}
.MENU {
    width: 20%;
    margin-top: 60px;
}

.MENU a {
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}