body{
    background: rgb(234, 235, 238);
    font-family: sans-serif;
}
header{
    display: flex;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.sectionheder{
    background-color: #06283D;
    padding: 0%;
}
.vinduxlogo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.vinduxlogo img{
    height: 95px;
    width: 100px;
}

.Links-nav {
    display:inline-block;
    padding-right: 70px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.Links-nav:hover{
    color: #03e9f4;
}

.cont_info{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 50px;
    margin-top: 50px;
}

.cont_info h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.cont_info p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
    margin-right: 110px;
    text-align: justify;
    font-family:sans-serif;
}

.cont_info ul {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: rgb(0, 45, 128);
    font-weight: 500;
}

form .nombre, textarea{
    width: 100%;
    padding: 15px 15px;
    font-size: 15px;
    border: 1px solid #06283D;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
footer{
    display: block;
    background-color:#06283D;
    height: 120px;
    width: 100%;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}