body{
    background: rgb(234, 235, 238);
    font-family: sans-serif;
}
header{
    display: flex;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.sectionheder{
    background-color: #06283D;
    padding: 0%;
}
.vinduxlogo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.vinduxlogo img{
    height: 95px;
    width: 100px;
}

.Links-nav {
    display:inline-block;
    padding-right: 70px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.Links-nav:hover{
    color: #03e9f4;
}