body{
    background: rgb(109, 109, 109);
}

.link-nav{
    display:inline-block;
    color: white;
    background: rgb(16, 64, 128);
    padding: 10px 30px;
    text-decoration: none;
}

.link-nav:hover{
    background: rgb(57, 91, 136);
}

nav{
    background: rgb(56, 56, 56);
    padding: 10px;
}