body{
    background: rgb(109, 109, 109);
}

header{
    display: flex;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.vinduxlogo{
    display: flex;
    align-items: center;
}

.vinduxlogo img{
    height: 95px;
    width: 100px;
}