
body {
    background-image: url(GIFS\ WP.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

h1 {
    padding: 80px 300px 0px;
    text-align: center;
    color: aliceblue;
    font-family: monospace;
    font-size: 35px;
}

h2 {
    padding: 0px 300px 120px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-size: 25px ;
}

h3 {
    color: aliceblue;
    font-family: monospace;
    font-size: 20px;
    margin-top: 0px;
    padding-bottom: 5px;
}
p {
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
    padding-top: 65px;
}

#header {
    width: 500px;
    font-family: monospace;
    text-decoration: none;
}

li {
    font-size: 15px;
    font-family:monospace ;
    text-decoration: none;
    padding: 10px 15px 10px
}
ul, ol {
    list-style: none;
    text-decoration: none;
    padding: 10px 40px 10px;
    box-sizing: border-box;
}

/* Primeros elementos de la navbar */
.nav li a {
    background-color: transparent;
    color: white;
    display: inline;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 10px;
}

/* Hover de la navbar */
.nav li a:hover {
    padding: 15px 0px 10px;
    cursor: pointer;
    color: yellow;
}
.nav > li, ul {
    float: left;
    padding-top: 15px;
}

/* Submenú "Lista de actividades */
.nav li ul {
    display: none;
    position: absolute;
    padding: 0px 0px 0px;
}

.nav li:hover > ul {
    display: block;
    padding: 15px 0px 0px 0px;
    text-align: center;
    margin: 0px;
    color: yellow;
}