h1 {
    background-color: mediumpurple;
    color: black;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    display: block;
}

h2 {
    margin:10px;/* esto le quita el espacio al elemento */
    background-color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
}

h3{
    font-size: 35px;
    background-color: rgb(202, 96, 202);
    font-family: monospace;
    text-align: center;
}

h4 {
    font-size: 35px;
    color: wheat;
    text-align: center;
    margin: 20px;
}

p {
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 20px;
}

pre {
    font-size: 31px
}