#menu-site{
    display: flex;
    background-color: rgb(201, 127, 16);
    justify-content: center;
    height: 400px;
}

#l1{
    flex-grow: 1;
    order: 3;
}

#l2{
    flex-grow: 1;
    order: 3;
    width: 400px;
    flex-shrink: 8;
    align-self: center;
}

#l3{
    flex-grow: 1;
    order: 3;
}

#l4{
    flex-grow: 1;
    order: 3;
    align-self: flex-end;
}

#mini-page header{
    background-color: yellow;
    grid-column: 1 / -1;
}

#mini-page article{
    background-color: rgb(24, 219, 161);
}

#mini-page aside{
    background-color: rgb(230, 164, 243);
}

#mini-page footer{
    background-color: rgb(241, 167, 167);
}

#mini-page{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.3em;
}

#mini-page2 header{
    background-color: rgb(69, 140, 207);
    grid-area: enc;
}

#mini-page2 article{
    background-color: rgb(237, 18, 138);
    grid-area: cont;
}

#mini-page2 aside{
    background-color: rgb(236, 14, 14);
    grid-area: barra;
}

#mini-page2 footer{
    background-color: rgb(88, 43, 148);
    grid-area: pie;
}

#mini-page2{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.3em;
    grid-template-areas: "enc enc"
                           "cont barra"
                           "pie pie";
}