* {
    text-align: center;
    background-color: rgb(22, 1, 22);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav-flex ul{
    margin: 0;
    padding: 0;
}
#nav-flex .objeto {
    display: flex;
    justify-content: 
    space-evenly;

}
#index-img {
 width: 250px;
 height: 150px;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prettytitles{
    background-color: black;
    text-align: left;
    font-size: 30px;
}
.pjust{
    text-align: left;
    font-style: italic;
    font-size: 20px;
}
.blacktitle {
    background-color: black;
}
.great {
    font-weight: bold;
    font-size: 20px;
}
#mini-page header {
    background-color: rgb(255, 102, 0);
}
#mini-page article {
    background-color: rgb(47, 45, 43);
}
#mini-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3em;
}
#mini-page footer {
    background-color: rgb(0, 0, 0);
    grid-column: 3;
}