/* Selector universal */
/* * {
    margin: 0;
    padding: 0;
} */

/* selector por id */
#articulo-1{
    font-size: 28px;
}

/* selector por clase */

.rojo {
    background-color: red;
}

.round {
    border-radius: 10px;
}

/* Por tipo */
h2 {
    font-variant: small-caps;
}

/* Por atributo */
p[lang] {
    background-color: aqua;
    border: 3px solid black;
}

p[lang="es"] {
    background-color: brown;
    border: 10px groove darkslateblue;
}

a[href="https"] {
    background-color: green;
}

a[href="mx"] {
    border: 5px dashed darkgoldenrod;
}

a[href="you"] {
    font-size: 30px;
}

/* Selector por descendientes */
#sel-desc  p {
    font-variant: small-caps;
    background-color: gray;
}

/*Selector por hijos directos*/
#sel-desc  p{
    box-shadow: 5px 5px 5px red;
}

/* Selector por hermano general */
#parrafo-ini ~ p {
    font-size: 3px;
}

/*Selector hermano adyascente*/
#parrafo-ini + p {
    font-size: 30px;
}

header ~ a {
    background-color: blue;
}

/* Pseudoclase */

#parrafo-ini:hover {
    border: 2px solid green;
    border-radius: 10px;
}

#lista li:first-child {
    background-color: black;
    color: white;
}

#lista li:nth-child(5) {
    border: 1px solid red;
}

#lista-2 li:nth-child(odd) {
    background-color: lightgrey;
}


#p-seudo-elemento::first-line {
    background-color: tomato;
}

#p-seudo-elemento::first-letter {
    font-family: monospace;
    font-size: 50px;
}

