#nav-flex .contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

.color {
    color: red;
}

.color2 {
    color: green;
}

.color3 {
    color: red;
}

.color4 {
    color: palevioletred;
}


.color5 {
    color: goldenrod
}

body {
    color: darkgrey;
    margin: 20;
    padding: 10;
    background: url(pokemon.jpg);   
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info img {
    width: 240px;
    height: 200px;
    float: left;
    margin-right: 2em;
}