.color {
    color: orange;
}

.color2 {
    color: darkgreen;
}

.color3 {
    color: darkred;
}

body {
    color: darkgrey;
    margin: 20;
    padding: 10;
    background: url(tcgwallpaper.jpg);   
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nav-flex .contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#nav-flex .contenedor2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#nav-flex .contenedor3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}