.color {
    color: red;
}

.color2 {
    color: blue;
}

.color3 {
    color: goldenrod;
}

.color4 {
    color: silver;
}

.color5 {
    color: darkred;
}

.color6 {
    color: darkblue;
}

.color7 {
    color: darkturquoise;
}

.color8 {
    color: palevioletred;
}

.color9 {
    color: white;
}

.color10 {
    color: black;
}

.color11 {
    color: rgb(12, 0, 80);
}

.color12 {
    color: rgb(82, 0, 0);
}

.color13 {
    color: orangered
}

.color14 {
    color: purple;
}

.color15 {
    color: cyan
}

.color16 {
    color: magenta
}