* {
    margin: 0%;
    padding: 0%;
}

header {
    background: #ffffff;

}

#Inicio, #Productos, #Colaboraciones, #Marcas, #Contacto {
    align-self: center;
    padding: 3vh 9vh;
    margin: 0%;
}

#pag {
    display: flex;
    background-color: #ec968b;
    height: 10vh;
    list-style: none;
    justify-content: space-around;
    margin: 0%;
}

#pag > #Inicio:hover, #Productos:hover, #Colaboraciones:hover, #Marcas:hover, #Contacto:hover {
    background-color: #f5b4e5;
    transition: 0.6s;
    text-align: center;
    padding: 3vh 10vh;

}
#pag li > a {
    text-decoration: none;
    color: rgb(5, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
    width: 1590px;
    height: 320px;
    border: 3px solid rgb(202, 196, 138);
    margin: auto;

    background-image: url(../RECURSOS/img1.webp);
}

#seccionC{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 10px;
    background-color: white;
}

#contacto {
    font-family: 'Trebuchet MS';
    font-size: 17px;
    color: rgb(2, 1, 1);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
}

button{
    background-color:rgb(223, 72, 72);
    font-size: 16px;
}

h1 {
    background-color: rgb(233, 152, 152);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #0a0808;
    text-align: center;
    margin: 0px;
}

section.fondo {
    background-color: rgb(204, 164, 141);
    padding: 15px;

}



p {
    font-family: 'Times New Roman';
    font-size: 17px;
    color: black;
}

#Copy{
    background-color: rgb(121, 111, 111);
    padding:10px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}