body{ margin: 0px;
    padding: 0px;
    background-color: white;
    background-size: cover;
    background-position: 0px;
    background-position: 0%;
    font-family: sans-serif;
}

body{ text-decoration-color: aliceblue;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: khaki;
    padding: 10px;
}

iframe{
    width: 650px;
    height: 350px;
    position: relative;
    right: 64%;
    top: 55%;
}

img {
    width: 650px;
    height: 350px;
    position: relative;
    right: 10%;
    top: 56%;
}