.Evidencia_1{
    background-color: pink;
    border: 5px inherit grey;
    text-align: center;
    font-family: "sans-serif";
}

.subtemas{
    background-color: aquamarine;
    text-align: 3px initial black;
    font-family: "sans-serif";
}