/*Selector universal*/

/* *{
    margin: 0;
    padding: 0;
} */

/* Selector por id */
#articulo-1
{
    font-size: 28px;
}

/* Selector por clase */
.rojo {
    background-color: purple;
}

.round{
    border-radius: 16px;
}

h2 {
    font-variant: small-caps;
}

/* Selector por atibuto */

p[lang] {
    background-color: aqua;
    border: 3px solid violet;
}

p[lang=es] {
    background-color: brown;
    border: 10px groove darkorchid;
}

/* ^ para el inicio */
a[href^="https"]{
    background-color: blue;
}

/* # para el final */
a[href$="mx"]{
    border: 5px dashed gold;
}

/* * para el final */
a[href*="you"]{
    font-size: 30px;
}

/* Selector por descendientes */
#sel-desc p {
    font-variant: small-caps;
    background-color: greenyellow;
}

/* Selector por hijos directos */
#sel-desc > p {
    box-shadow: 5px 5px 5px blueviolet;
}

/* Selector por hermanos general */
#parrafo-ini ~ p {
    font-size: 20px;
}

/* Selector hermanos adyacentes */
#parrafo-ini + p {
    font-size: 30px;
}

/* Pseudoclases */
#parrafo-ini:hover {
    border: 2px solid green;
    border-radius: 10px;
}

#lista li:first-child {
    background-color: gray;
}

#lista li:last-child {
    background-color: blueviolet;
}

#lista li:nth-child(5){
    border: 3px solid red;
}

/* odd para impares */
#lista-2 li:nth-child(odd) {
    background-color: yellow;
}

#sel-hgral h2:first-child{
    border:20px dotted gold;
}

#p-pseudo-elemento::first-line{
    background-color: burlywood;
}

#p-pseudo-elemento::first-letter{
    font-family: monospace;
    font-size: 50px;
}
