* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
.inicio {
	background:#000;
	width:90%;
	max-width:1000px;
	margin:auto;
 
	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}
 
body {
	 background: linear-gradient(to bottom right, purple,blue,red);
	
}
 

 .separador1 {
	margin:auto;
	background: linear-gradient(to bottom right, purple,blue,red);
	width:100%;
	max-width:1000px;


}

 
 .inicio1{
	width:1423px;
	height:780px;
	/*Estas opciones se usan para la posicion de la caja*/
	margin:auto;
	clear:both;
	display:flex;
	z-index:-10000000;
	}
 
 
.main {
	background: linear-gradient(to bottom right, purple,blue,red);
	padding:20px;
 
	flex:1 1 70%;
	flex:1;
}

.main article {
	background: linear-gradient(to bottom right, purple,white);
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}
 
.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

.main p {
	font-size:17px;
}

.fondo1 {
	width:660px;
	vertical-align: top;
	box-shadow:0px 0px 50px rgba(0,0,0,.7);
} 

.titulo {
font-size:30px;
}