body {
    background-image: url(../img/background.png);
    background-size: contain;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif
    
}
header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0px;
    align-items: center;
}
#head-1 {
    display: flex;
    align-items: center;
}
#head-1 h1 {
    font-size: 26px;
    padding-left: 10px;
}
#back-icon {
    width: 40px;
    border-radius: 100px;
}
#back-icon:hover {
    box-shadow: 0px 0px 3px 3px rgb(32, 255, 233);
    transition: 0.2s;
}
#link-return {
    margin-left: 10px;
}
#user-log{
    display: flex;
    padding-right: 10px;
    align-items: center;
}
#user-log h4{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
#user-log img{
    border-radius: 100px;
    width: 40px;
    padding: 10px;
}
#user-log:hover {
    box-shadow: 0px 0px 4px 2px rgb(255, 255, 255);
    transition: 0.5s;
}

#bar-navegation {
    background-color: orange;
    padding: 1px 0px 2px;
    justify-content: space-between;
}
#bar-navegation ul {
    display: flex;
}
#bar-navegation li{
    list-style: none;
    margin: 0 10px;

}

#bar-navegation a{
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}

#bar-navegation a:hover{
    background-color: white;
    color: orange;
    transition: 0.3s;
}

/* CONTENIDO */


#about-me {
    padding-left: 32px;
}

#about-me #foto {
    justify-content: right;
    align-items: right;
    margin-right: 100px;
    margin-left: 100px;
}
#about-me #foto img {
    float: right;
    border-radius: 60px;
    width: 300px;
    
}

#data-i{
    margin: 20px;
    margin-top: 30px;
    display: flex;
    background-color: white;
    border: gray;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    min-width: 10;
    box-shadow: 0px 10px 20px grey;
}

#v1{
    background-color: rgb(129, 147, 208);
}

#v2{
    background-color: rgb(208, 158, 129);
}
#v3{
    background-color: rgb(203, 203, 203);
}

h4 {
    font-size: large;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}
iframe {
    display: block;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding-bottom: 30px;
}

#futbol h3 {
    margin-left: 20px;
    color: rgb(33, 33, 138);
    text-align: center;
}

#futbol img {
    margin: auto;
    display: block;
    width: 200px;
}

#contacto {
    text-align: center;
    margin-bottom: 30px;
}
#contacto a {
    text-decoration: none;
}
#contacto img {
    width: 40px;
    margin-right:14px;
    margin-left:14px;
}
#copyright {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}