* {
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
}

#navegador {
     background-color: #eee;
     height: 35px;
}
#navegador ul {
     list-style-type: none;
     text-align: center;
}

#navegador li {
     display: inline;
     text-align: center;
     margin: 10px 10px;
}

#navegador li a {
     padding: 1px 10px;
     color: #666;
     background-color: #eee;
     text-decoration: none;
}

#navegador li a:hover {
     background-color: #333;
     color: #fff;
}

h1 {
     text-align: center;
}