#menu-site {
     display: flex;
     background-color: grey;
     height: 200px;
}

#l1 {
     /* flex-grow: 1;
     order: 3; */
     color: #000;
}

#l2 {
     /* flex-grow: 2;
     order: 2; */
     width: 400px;
     flex-shrink: 0;
     align-self: center;
}

#l3 {
     /* flex-grow: 3;
     order: 1; */
     align-self: flex-end;
}


#mini-page header {
     background-color: beige;
     grid-column: 1 / -1;
}
#mini-page article {
     background-color: bisque;
}
#mini-page aside {
     background-color: sandybrown;
}
#mini-page footer {
     background-color: salmon;
     grid-column: 1 / -1;
}

#mini-page {
     display: grid;
     grid-template-columns: 3fr 1fr;
     gap: 0.3em;
}


/* Otra Mini Página */
#mini-page2 header {
     background-color: beige;
     grid-area: encabezado;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
#mini-page2 header ul li {
     display: inline-block;
     margin: 0px 10px;
     list-style: none;
}

#busqueda {
     display: inline-block;
     margin-right: 25px;
}

#mini-page2 article {
     background-color: bisque;
     grid-area: contenido;
     padding: 1em;
}
#mini-page2 h1 {
     font-size: 36px;
     text-align: center;
}

#mini-page2 aside {
     background-color: sandybrown;
     grid-area: barra;
     padding: 1em;
}
#mini-page2 aside ul li {
     list-style: none;
     margin: 25px 0;
     border-bottom: 1px solid #000;
}
#mini-page2 aside ul li a {
     color: #000;
     text-decoration: none;
}
#mini-page2 footer {
     background-color: salmon;
     grid-area: pie;
     padding: 10px;
}

#mini-page2 {
     display: grid;
     grid-template-columns: 4fr 1fr;
     gap: 0.3em;
     grid-template-areas: "encabezado encabezado"
                          "contenido barra"
                          "pie pie";
}