#titulo {
    /* 50 arriba, 5 derecha, 10 abajo, 20 izquierda */
    padding: 50px 5px 10px 20px;

    /* 50 arriba, 10 derecha-izquierda 20 izquierda */
    padding: 50px 10px 20px;

   /*  50 arriba-abajo, 20 izquierda-derecha */
    padding: 50px 5px 20px;

    /*  50 cuadros lados*/
    padding: 50px;

    border: 10px dotted red;
    /* margin: 30px; */
    padding-top: 10px dashed red;
    padding-left: 20px groove gold;
    padding-bottom: 50px dotted green;
}

#titulo {
    display: inline;
}

#parrafo {
    background-color: blue;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#verde {
    padding: 100px;
    display: inline-block;
    background-color: green;
    
}

#blanco {
    padding: 100px;
    display: inline-block;
    background-color: white;
    border: solid black;

}

#rojo {
    padding: 100px;
    display: inline-block;
    background-color: red;   
} 