#contacto {
    transition: all 0.5s;
    background-color: #ffce2f;
    color: black;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #1d212a;
    
}

#titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    align-items: center;
    color: white;
    justify-content: center;

}
.contenedor-form {
    width: 70%;
    display: flex;
    background-color: #6a4c00;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
input {
    padding: 10px 20px;
    margin: 15px 0px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #ebebeb;
}

#apellido {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#msg {
    resize: none;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #ebebeb;
}
form {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: end;
    color: rgb(0, 0, 0);
}

button {
    margin-top: 10px;
    width: 30%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: #6a4c00;
}
pre {
    font-size: 5px;
    text-align: center;
    color: white;
}
#boton-form {
    display: flex;
    justify-content: end;
}

.contenedor-sucursal {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: #bf9819;
}

#sucursal, #ascii {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

footer {
    background-color: #560000; 
}
small {
    background-color: rgb(62, 30, 30);
}

@media(max-width:800px) {
    .contenedor-form {
        flex-direction: column;
        width: 90%;
    }
    #boton-form {
        justify-content: center;
    }
    form {
        width: 100%;        
    }
    #titulo {
        width: 100%;
        margin: 10px;
    }
    .contenedor-sucursal {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        background-color: #bf9819;
    }
    pre {
        font-size: 3px;
        color: white;
    }

    iframe {
        width: 100%;
    }
}