#menu {
    transition: all 0.5s;
    background-color: #ffce2f;
    color: black;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
}

.red {
    background-color: #470101;
}

.gold {
    background-color: #c6a500;
}
#sencillo, #combo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    padding-bottom: 20px;
}

#sencillo h1 {
    color: white;
    font-size: 30px;
    margin: 25px 0px;
}

#burger, #postre, #bebida, #lista-combo {
    display: grid;
    width: 85%;  
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    justify-content: space-evenly;
    gap: 10px;
}

.contenedor-comida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

}

.contenedor-comida img{
    margin-top: 8px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    
}

#texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#texto h2 {
    margin: 12px;
    font-size: 22px;
}

#texto h3 {
    font-weight: 200;
    margin: 20px;
}
#texto span {
    color: #bc1f1f;
}
#texto #precio{
    margin: 10px;
    color: #daa700;
    font-size: 20px;

}

#extra {
    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#extra h3 {
    font-weight: 400;
    margin: 0px;
}
#extra table{
    width: 100%;
    text-align: left;
}

#extra > ol, table tr td{
    padding: 5px;
    font-size: 14px;
    font-weight: 200;
}

#texto #descripcion{
    font-weight: 100;
    text-align: center;
    width: 90%;
    margin: 0px 15px 0px 15px;
}


#combo h1 {
    color: white;
    margin: 20px;
}

.combo1 {
    background: linear-gradient(rgba(5, 7, 12, 0.436),rgba(5, 7, 12, 0.371)),url(../../recursos/menu/combo-1.jpg);
}

.combo2 {
    background: linear-gradient(rgba(5, 7, 12, 0.436),rgba(5, 7, 12, 0.371)),url(../../recursos/menu/combo-2.png);
}
.combo-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.texto-combo {
    color: white;
}

.precio-combo {
    font-size: 50px;
}

footer {
    background-color: #472c01; 
}

small {
    background-color: #473009;
}
