* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #24252A;
}
.head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
}
#logo {
    display: flex;
    margin-right: auto;
    align-items: center;
}

#logo img{
    width: 100px;
}

#logo h1 {
    color: white;
    font-size: 4vh;
}

nav{
    padding: 1px 0px 2px;
    justify-content: space-between;
    min-width: 250px;
}
#links-nav {
    list-style: none;
}
#links-nav li {
    display: inline-block;
    padding: 12px 10px;
}

#links-nav li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px ;
    border-radius: 6px;
    transition: all 0.3s;
}

#links-nav li a:hover{
    background-color: #ffce2f;
    color: black;
}