*{
    margin: 0%;
}

body{
    font-family: sans-serif;
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1607/Google_play_abstract_gradient-Vector_HD_Wallpaper_1366x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: rgb(13, 0, 255);
    margin: 0px;
}

#logo{
    display: flex;
    list-style: none;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
}

#logo li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

#logo img{
    height: 100px;
}

#titulo{
    text-align: center;
}

#subtit{
    text-align: center;
}

#articulo1{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 0, .8);
    padding: 15px;
    margin: 50px;
    border-radius: 20px;
}

#imagenes{
    text-align: center;
}

#imagenes img{
    height: 350px;
}

aside{
    float: right;
    background-color: aqua;
    width: 22%;
    height: 380px;
    margin: 50px;
    margin-right: 250px;
    padding: 10px;
    border: 10px;
    border-radius: 20px;
}

#aside2{
    text-align: center;
}

footer{
    display:block;
    height: 20px;
    padding: 50px;
    background-color: rgb(23, 23, 23);
    color: white;
    text-align: center;
    align-items: center;

}