.u-em{
    font-size: 5em;
    border: 1rem solid red;
}

.u-viewport {
    background-color: #CD104D;
    width: 90vw;
    height: 100vh;
}

.u-porcentaje{
    background-color: #a80909;
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 200px;
}

.overflow{
    background-color: #e90f54;
    width: 200px;
    height: 100px;
    overflow: auto;
}

.info img {
    border-radius: 50%;
    width: 200px;
    float: left;
    margin-right: 2em;
}
.clearfix:after{
    clear: both;
    content: "";
    display: table;

}

#nav-main ul {
    background-color: orange;
    list-style: none;
}

#nav-main ul li{
    float: left;
    width: 20%;
}

#nav-main ul li a{
    text-decoration: none;
}


#nav-flex .contenedor{
    background-color: #CD104D;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    flex-flow: column wrap;

    justify-content: space-evenly;
    height: 400px;
}