body {
    margin: 0;
}

a {
    text-decoration: none;
    color: azure;
    font-family: sans-serif;
}

header {
    display: flex;
    height: 70px;
    background-color: teal;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 3px;
}

nav a:hover {
    color: mediumturquoise;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}
