body {
    margin: 0;
    background-color: #3c3c3c;
}

a {
    text-decoration: none;
    color: azure;
    font-family: sans-serif;
}

header {
    display: flex;
    height: 70px;
    background-color: teal;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 3px;
}

nav a:hover {
    color: mediumturquoise;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.footer {
    /*
    margin-top: 200px;
    height: 250px;
    background-color: #3C3C3C;
    text-align: center;
    */
    background-color: #3c3c3c;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.footer p{
    color: white;
    line-height: 10px;
}

div.footer > #copyr {
    margin: 10px;
    border-radius: 10px;
}

#principal {
    text-align: center;
}

td >a{
    color: blue;
}


table , th ,td {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
}
table {
    width: 100%;
}

tr {
    text-align: center;
}

th, td {
    padding: 20px;
}

h1 {
    color: white;
    background-color: #3c3c3c;
}

td > a:hover {
    outline: 3px solid teal;
}