body {
    background-color: white;
    border: 10px solid darkcyan;
    border-radius: 60px;
    padding: 10px;
}
#contenedor-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
}

#foto {
    border: 2px solid black;
    margin: 6px 10px 6px;
    width: 170px;
    height: 170px;
}

#contenedor-2 {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-radius: 10px;
}

#boton img{
    width: 40px;
    
}
#text-box {
    text-align: center;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 10px;
    font-size: 10px;
}

#contenedor-3 {
    display: flex;
    margin: 10px;
    border: 3px solid black;
    justify-content: flex-start;
    flex-direction: row ;
    flex-wrap: wrap;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}

.color-box {
    margin: 10px;
    padding: 40px 70px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}