#menu-site{
    display: flex;
    background-color: black;
    height: 40vh;
}

#l1 {
    /*flex-grow: 1;
    order: 3;*/
}

#l2 {
      /*flex-grow: 2;
    order: 2;*/
    width: 400px;
    flex-shrink: 0;
    align-self: center;
}

#l3 {
    align-self: flex-end;
}

#l4 {
}

#mini-page header{
    background-color: aquamarine;
}
#mini-page article{
    background-color: aqua;
}
#mini-page aside{
    background-color: cyan;
}
#mini-page footer{
    background-color: mediumspringgreen;
    grid-column: 1/ -1;
}
#mini-page{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.3em;
}


#mini-page-2 header{
    background-color: aquamarine;
    grid-area: enc;
}
#mini-page-2 article{
    background-color: aqua;
    grid-area: cont;
}
#mini-page-2 aside{
    background-color: cyan;
    grid-area: barra;
}
#mini-page-2 footer{
    background-color: mediumspringgreen;
    grid-area: pie;
}
#mini-page-2{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.3em;
    grid-template-areas: "enc enc"
                            "cont barra"
                            "pie pie";
}