#imagen_2011 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7px;
}
#imagen_2011 img {
    width: 1300px;
    height: 400px;
    padding: 0px;
    
}

.Titulo_P1 {
    background-color: darkblue;
    color: white;
    height: 60px;
    text-align:center;
    font-size: 35px;
}

.TEXTO_P1 {
    background-color: gainsboro;
    font-size: 22px;
}

#PP, #gugul{
    width: 150vh;
    align-self:center;
    padding: 10px 0px;
}
#menu-site_P1 {
    display: flex;
    background-color: rgb(219, 219, 224);
    height: 0vh;
    list-style: none;
    text-align: center;
    font-size: 20px;
}