.azul {
    background: linear-gradient(0deg,#79799b, #1d0b60 );
    color: white;
    height: 60px;
    text-align:center;
    font-size: 35px;
}
#P1, #P2, #P3, #P4, #P5 {
    width: 41vh;
    align-self: center;
    padding: 21px 0px;
}
#menu-site {
    display: flex;
    background-color: rgb(219, 219, 224);
    height: 10vh;
    list-style: none;
    text-align: center;
    font-size: 25px;
}
