body{
    background-color: aqua;
}


#header {
    height: 100px;
    transition: all 0.5s;
    z-index: 997;
    background: linear-gradient( coral, #000000);
    align-items: center;
    

  }

  a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
  }

#header h1 {
    font-size: 50px;
    
    margin: 0;
    display: inline-block;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.centrado{
    text-align:center;
}

.div{
    justify-content: space-between;
    align-items: center;
}


.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}   
  
  
.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar ul li{
    float:right;
    width: 40%;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  color: rgba(9, 122, 139, 0.8);
  font-size: 15px;
  padding: 0 2px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
}



#historia {
    padding: 60px 0;
    overflow: hidden;
  }

#init{
    text-align: center;
}

img{
    display: block;
    margin: 0px auto;
    border: 1px solid;
}


#intro h2 {
    color: #000000;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
  }

#texto{
        font-family: "Georgia" serif;
        font-weight: 500;
        font-size: 16px;
}

h2 {
    font-family: "Georgia";
    font-weight: 100;
    font-size: 35px;
    z-index: 997;
    align-items: center;
}

#init p{
    font-family: "Georgia";
    font-weight: 100;
    font-size: 20px;
    z-index: 997;
    border: 5px;
    align-items: center;

}