body {
    background-image: url(Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
    
}

/*Edicion de cuadro para header*/
header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

/* Se determina el posicionamiento del header */

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

/*Animacion de letra para el menu */
.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

/* Animacion para transicion de menu */
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

