#corazon1{

    display: inline-block;
    width: 100px;
    height: 100px;
    border: dashed 10px black;
}

#corazon2{

    display: inline-block;
    width: 100px;
    height: 100px;
    border: dashed 10px black;
}

#corazon3{
    
    display: inline-block;
    width: 100px;
    height: 100px;
    border: dashed 10px black;
}

#corazon4{
   
    display: inline-block;
    width: 100px;
    height: 100px;
    border: dashed 10px black;
}

#marco1{
    display: inline-block;
    width: 900px;
    height: 150px;
    border: dashed 10px black;

}

#cuadro1{

    display: inline-block;
    width: 100px;
    height: 100px;
    border: dashed 10px black;
}

#cuadro2{

    display: inline-block;
    width: 100px;
    height: 100px;
    border: dashed 10px black;
}

#cuadro3{
    
    display: inline-block;
    width: 100px;
    height: 100px;
    border: dashed 10px black;
}

#marco2{
    display: inline-block;
    width: 900px;
    height: 150px;
    border: dashed 10px black;

}
