#titulo{


    padding: 50px 10px 5px;

    padding: 50px 20px;

    padding: 50px;


    margin: 50 px;
    margin: 40 px;




    border-top: 10px double red;
    border-bottom: 30px dotted black;
    border-right: 30px groove green;
    border-left: 30px inset blueviolet;
    
   
    color: blue;
}

#parrafo{
    background-color: blue;
    color: rgb(225, 255, 255);
    display: inline-block;
    width: 150px;
    height: 150px;

}