.u-em{
font-size: 5em;
border: 1rem solid red;
}

.u-viewport {
    background-color: #CD104D;
    width: 90vw;
    height: 100vh;
}

.u-porcentaje {
    background-color: #FD841F;
    width: 100%;
    height: 200px;
{
    
    
    
}

