#titulo {
    /* 50 arriba, 5 derecha 10 abajo 20 izq 
    padding: 50px 5px 10px 20px; */

    /* 50 arriba, 10 der iqz 20 abajo 
    padding: 50px 10px 20px; */

    /* 50 arriba y abajo, 10 izq-der 
    padding: 50px 10px ; */

    /* 50 cuatro lados */ 
    padding: 50px; 

    /* padding-left:;
    padding-top: ;
    padding-right: ;
    padding-bottom: ; */

    /* border: 10px dotted red; */
    border-top: 10px dashed red;
    border-bottom: 20px groove gold;
    border-right: 50px dotted blue;
    border-left: 40px inset purple;
    margin: 30px;
}

#titulo {
    display: inline-block ;
}

#parrafo {
    background-color: blue;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#verde {
    background-color: green;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    box-sizing: border-box;
}

#blanco {
/*     border: dotted black ; */
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    box-sizing: border-box;
}

#rojo {
    background-color: red;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    box-sizing: border-box;
}
