.u-em{
    font-size: 5em;
    text-align: center;
    border: 1rem solid red;
}
/* 1em es 80 
1rem es 16px*/

.u-viewport{
    background-color: #1C6758;
    width: 90vw;
    height: 100vh;
}


body{
    /* width: 400px; */
    border: 1px solid black;
    padding: 20px;
}
.u-porcentaje{
    background-color: #3D8361;
    background-color: rgb(80, 80, 80);
    width: 100%;
    height: 200px;
}

.overflow{
    background-color: #D6CDA4;
    width: 200px;
    height: 100px;
    overflow: auto;
}

.info img{
    width: 200px;
    float: left;
    margin-right: 2em;
}

.regresar{
    background-color: grey;
    color: black;
    font-family: sans-serif;
    font-size:15px;
    padding: 10px;
    border: 5px ridge black;
}