#menu-site {
    display: flex;
    background-color: grey;
    height: 40vh;
    align-self: center;
}

#l1 {
    /* flex-grow: 1; 
    order: 3; */
    align-self: flex-start;
}

#l2 {
    /* flex-grow: 5; */
    width: 400px;
    flex-shrink: 0;
    align-self: center;
    
}

#l3 {
    /* flex-grow: 1; */
    align-self: flex-end;
}


/* flex: 0 0 20%
flex-grow flex-shrink flex-basis */

#mini-page header{
    background-color: yellow;
}

#mini-page article{
    background-color: pink;
}

#mini-page aside{
    background-color: purple;
}

#mini-page footer{
    background-color: turquoise;
}

#mini-page {
    display: grid;
    grid-template-columns: 4fr 1fr;
}