#titulo {
    /*50 arriba, 5 derecha, 10 abajo, 20 izquierda*/
    padding: 50px 5px 10px 20px;

    padding-top: 50px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 20px;

    /*50 arriba, 10 derecha e izquierda, 20 abajo*/
    padding: 50px 10px 20px;

    /*50 arriba-abajo, 20 izquierda-derecha*/
    padding: 50px 20px;

    /*50 cuatro lados*/
    padding: 50px;

    margin: 30px;
    border-top: 10px dashed red;
    border-bottom: 20px groove gold;
    border-right: 50px dotted blue;
    border-left: 40px inset purple;
}

#titulo {
    display: inline;
}

#parrafo{
    background-color: blue;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#verde-banderaMex {
    padding: 90px;
    background-color: green;
    display: inline-block;
    margin: 0px;
    box-sizing: border-box;
}

#rojo-banderaMex {
    padding: 90px;
    background-color: red;
    display: inline-block;
    margin: 0px;
    box-sizing: border-box;
}