.u-em {
    font-size: 5em;
    border: 1erm solid red;
}

.u-viewport {
    background-color: #CD104D;
    width: 90vw;
    height: 100vh;
}

/* body {
    width: 400px;
} */

.u-porcentaje {
    background-color: #FD841F;
    background-color: #CD104D;
    width: 90%;
    height: 200px;
}

.overflow{
    background-color: #9C2C77;
    width: 200px;
    height: 100px;
    overflow: auto;
}

.info img {
    border-radius: 50%;
    width: 200px;
    float: left;
    margin-right: 50px;
}

.clearfix::after {
    clear: both;
    content: "";
    display: flex;
}

#nav-main ul {
    background-color: #FD841F;
    list-style: none;
}

#nav-main ul li {
    float: left;
    width: 20%;
}

#nav-main ul li a {
    text-decoration: none;

}

#nav-flex .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex-flow: row wrap;

    justify-content: space-between;
    height: 400px;
}



