
#menu-site{
    display: flex;
    background-color: rgb(120, 187, 102);
    justify-content: center;
    height: 400px;
}

#l1{
    flex-grow: 1;
    order: 3;
}

#l2{
    flex-grow: 1;
    order: 3;
    width: 400px;
    flex-shrink: 8;
    align-self: center;
}

#l3{
    flex-grow: 1;
    order: 3;
}

#l4{
    flex-grow: 1;
    order: 3;
    align-self: flex-end;
}

#mini-page header{
    background-color: rgb(212, 132, 26);
    grid-column: 1 / -1;
}

#mini-page article{
    background-color: rgb(67, 202, 202);
}

#mini-page aside{
    background-color: blanchedalmond;
}

#mini-page footer{
    background-color: rgb(170, 46, 46);
}

#mini-page{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.3em;
}

#mini-page2 header{
    background-color: rgb(11, 95, 43);
    grid-area: enc;
}

#mini-page2 article{
    background-color: rgb(192, 69, 155);
    grid-area: cont;
}

#mini-page2 aside{
    background-color: rgb(221, 211, 197);
    grid-area: barra;
}

#mini-page2 footer{
    background-color: rgb(146, 98, 209);
    grid-area: pie;
}

#mini-page2{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.3em;
    grid-template-areas: "enc enc"
                           "cont barra"
                           "pie pie";
}