#menu-site{
    display: flex;
    background-color: gray;
    height: 40vh;

}


#l1{
    /*flex-grow: 1;
    order:3;*/
}

#l2{
    /*flex-grow: 2;
    order: 2;*/
    width: 400px;
    flex-shrink: 0;
    align-self: center;
}

#l3{
   /* order: 1;*/
    align-self: flex-end;
}


#l4{

}


#mini-page header{
    background-color: yellow;
}

#mini-page article{
    background-color: orange;
}

#mini-page aside{
    background-color: yellowgreen;
}

#mini-page footer{
    background-color: green;
}

#mini-page{
    display: grid;
    grid-template-columns: 4fr 1fr ;
}